<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Практическая работа [Анна Лозовая]</title>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/networkgraph.js"></script>
  <script type="text/javascript">
    const glossary={{{glossary}}};
    const mindMap={{{mindMap}}};
  </script>
  <script src="/javascripts/script.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
{{{body}}}
</body>
</html>